import { MockService, ServiceTest, ServiceTestSpec } from 'ng-easy-mocks';
import { <%= classify(name) %>Service } from './<%= dasherize(name) %>.service';

@ServiceTest(<%= classify(name) %>Service)
class <%= classify(name) %>ServiceSpec extends ServiceTestSpec<<%= classify(name) %>Service> {
}

describe('<%= classify(name) %>Service', () => {
  const ts = new <%= classify(name) %>ServiceSpec();
  ts.setup();

  it('should be created', () => {
    expect(ts.service).toBeTruthy();
  });
});
