.edit-form {
  max-width: 400px;
  margin: auto;
}

.badge-warning {
  background-color: yellow;
  color: black;
}

.badge-primary {
  color: black;
}

.badge-danger {
  color: red;
}

.badge-success {
  color: green;
}
